@model MVCBankTransactions.Models.Transaction

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID" class="control-label"></label>
                <input asp-for="ID"Step" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Step" class="control-label"></label>
                <input asp-for="Step" class="form-control" />
                <span asp-validation-for="Step" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control">
                    <option value="CASH_IN">CASH_IN</option>
                    <option value="PAYMENT">PAYMENT</option>
                    <option value="TRANSFER">TRANSFER</option>
                    <option value="CASH_OUT">CASH_OUT</option>
                    <option value="DEBIT">DEBIT</option>
                </select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOrig" class="control-label"></label>
                <input asp-for="NameOrig" class="form-control" />
                <span asp-validation-for="NameOrig" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldbalanceOrig" class="control-label"></label>
                <input asp-for="OldbalanceOrig" class="form-control" />
                <span asp-validation-for="OldbalanceOrig" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewbalanceOrig" class="control-label"></label>
                <input asp-for="NewbalanceOrig" class="form-control" />
                <span asp-validation-for="NewbalanceOrig" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameDest" class="control-label"></label>
                <input asp-for="NameDest" class="form-control" />
                <span asp-validation-for="NameDest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OldbalanceDest" class="control-label"></label>
                <input asp-for="OldbalanceDest" class="form-control" />
                <span asp-validation-for="OldbalanceDest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewbalanceDest" class="control-label"></label>
                <input asp-for="NewbalanceDest" class="form-control" />
                <span asp-validation-for="NewbalanceDest" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsFraud" /> @Html.DisplayNameFor(model => model.IsFraud)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsFlaggedFraud" /> @Html.DisplayNameFor(model => model.IsFlaggedFraud)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
